<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListProductosTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ProductosListForm">
                <p:panel header="#{bundle.ListProductosTitle}">
                    <p:dataTable id="datalist" value="#{productosController.items}" var="item"
                                 selectionMode="single" selection="#{productosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.proveedor.nombre}" filterBy="#{item.proveedor.nombre}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_proveedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.proveedor.nombre}"/>
                        </p:column>
                        <p:column sortBy="#{item.existencia}" filterBy="#{item.existencia}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_existencia}"/>
                            </f:facet>
                            <h:outputText value="#{item.existencia}"/>
                        </p:column>
                        <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column sortBy="#{item.descripcion}" filterBy="#{item.descripcion}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </p:column>
                        <p:column sortBy="#{item.precio}" filterBy="#{item.precio}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_precio}"/>
                            </f:facet>
                            <h:outputText value="#{item.precio}"/>
                        </p:column>
                        <p:column sortBy="#{item.id}" filterBy="#{item.id}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{productosController.prepareCreate}" update=":ProductosCreateForm" oncomplete="PF('ProductosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ProductosViewForm" oncomplete="PF('ProductosViewDialog').show()" disabled="#{empty productosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ProductosEditForm" oncomplete="PF('ProductosEditDialog').show()" disabled="#{empty productosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{productosController.destroy}" update=":growl,datalist" disabled="#{empty productosController.selected}"/>
                            <p:commandButton value="Exportar como Excel" ajax="false">
                                  <p:dataExporter type="xlsx" target="datalist" fileName="productos"/>
                            </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
