<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientesCreateDlg" widgetVar="ClientesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateClientesTitle}">
            <h:form id="ClientesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateClientesLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{clientesController.selected.nombre}" title="#{bundle.CreateClientesTitle_nombre}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateClientesLabel_apellido}" for="apellido" />
                        <p:inputText id="apellido" value="#{clientesController.selected.apellido}" title="#{bundle.CreateClientesTitle_apellido}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_apellido}"/>
                        <p:outputLabel value="#{bundle.CreateClientesLabel_ci}" for="ci" />
                        <p:inputText id="ci" value="#{clientesController.selected.ci}" title="#{bundle.CreateClientesTitle_ci}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_ci}"/>
                        <p:outputLabel value="#{bundle.CreateClientesLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{clientesController.selected.telefono}" title="#{bundle.CreateClientesTitle_telefono}" />
                        <p:outputLabel value="#{bundle.CreateClientesLabel_id}" for="id" />
                        <p:inputText id="id" value="#{clientesController.selected.id}" title="#{bundle.CreateClientesTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientesController.create}" value="#{bundle.Save}" update="display,:ClientesListForm:datalist,:growl" oncomplete="handleSubmit(args,'ClientesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
