<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListClientesTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ClientesListForm">
                <p:panel header="#{bundle.ListClientesTitle}">
                    <p:dataTable id="datalist" value="#{clientesController.items}" var="item"
                                 selectionMode="single" selection="#{clientesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column sortBy="#{item.apellido}" filterBy="#{item.apellido}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_apellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellido}"/>
                        </p:column>
                        <p:column sortBy="#{item.ci}" filterBy="#{item.ci}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_ci}"/>
                            </f:facet>
                            <h:outputText value="#{item.ci}"/>
                        </p:column>
                        <p:column sortBy="#{item.telefono}" filterBy="#{item.telefono}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </p:column>
                        <p:column sortBy="#{item.id}" filterBy="#{item.id}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{clientesController.prepareCreate}" update=":ClientesCreateForm" oncomplete="PF('ClientesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ClientesViewForm" oncomplete="PF('ClientesViewDialog').show()" disabled="#{empty clientesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ClientesEditForm" oncomplete="PF('ClientesEditDialog').show()" disabled="#{empty clientesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{clientesController.destroy}" update=":growl,datalist" disabled="#{empty clientesController.selected}"/>
                            <p:commandButton value="Exportar como Excel" ajax="false">
                                  <p:dataExporter type="xlsx" target="datalist" fileName="clientes"/>
                           </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
