<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientesViewDlg" widgetVar="ClientesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewClientesTitle}">
            <h:form id="ClientesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientesController.selected != null}">
                        <h:outputText value="#{bundle.ViewClientesLabel_nombre}"/>
                        <h:outputText value="#{clientesController.selected.nombre}" title="#{bundle.ViewClientesTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewClientesLabel_apellido}"/>
                        <h:outputText value="#{clientesController.selected.apellido}" title="#{bundle.ViewClientesTitle_apellido}"/>
                        <h:outputText value="#{bundle.ViewClientesLabel_ci}"/>
                        <h:outputText value="#{clientesController.selected.ci}" title="#{bundle.ViewClientesTitle_ci}"/>
                        <h:outputText value="#{bundle.ViewClientesLabel_telefono}"/>
                        <h:outputText value="#{clientesController.selected.telefono}" title="#{bundle.ViewClientesTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewClientesLabel_id}"/>
                        <h:outputText value="#{clientesController.selected.id}" title="#{bundle.ViewClientesTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ClientesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
