<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ComprasEditDlg" widgetVar="ComprasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditComprasTitle}">
            <h:form id="ComprasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{comprasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditComprasLabel_productos}" for="productos" />
                        <p:selectOneMenu id="productos" value="#{comprasController.selected.productos}" required="true" requiredMessage="#{bundle.EditComprasRequiredMessage_productos}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productosController.itemsAvailableSelectOne}"
                                           var="productosItem"
                                           itemValue="#{productosItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditComprasLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{comprasController.selected.fecha}" title="#{bundle.EditComprasTitle_fecha}" required="true" requiredMessage="#{bundle.EditComprasRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditComprasLabel_proveedor}" for="proveedor" />
                        <p:selectOneMenu id="proveedor" value="#{comprasController.selected.proveedor}" required="true" requiredMessage="#{bundle.EditComprasRequiredMessage_proveedor}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{proveedoresController.itemsAvailableSelectOne}"
                                           var="proveedorItem"
                                           itemValue="#{proveedorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditComprasLabel_id}" for="id" />
                        <p:inputText id="id" value="#{comprasController.selected.id}" title="#{bundle.EditComprasTitle_id}" />
                            <p:outputLabel value="Producto" />
                            <p:outputLabel value="Cantidad" />
                    
                    </p:panelGrid>
                    

                    <ui:repeat value="#{productosController.items}" var="producto">
                         <h:panelGrid columns="2" style="width:100%" rendered="#{ventasController.selected != null}">
                            <h:outputText value="#{producto.nombre}" />
                            <p:inputNumber maxValue="#{producto.existencia}" value="#{producto.existencia}"/>
                         </h:panelGrid>
                    </ui:repeat>
                    <p:commandButton actionListener="#{comprasController.update}" value="#{bundle.Save}" update="display,:ComprasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ComprasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ComprasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
