<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListComprasTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ComprasListForm">
                <p:panel header="#{bundle.ListComprasTitle}">
                    <p:dataTable id="datalist" value="#{comprasController.items}" var="item"
                                 selectionMode="single" selection="#{comprasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.productos.nombre}" filterBy="#{item.productos.nombre}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComprasTitle_productos}"/>
                            </f:facet>
                            <h:outputText value="#{item.productos.nombre}"/>
                        </p:column>
                        <p:column sortBy="#{item.fecha}" filterBy="#{item.fecha}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComprasTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column sortBy="#{item.proveedor.nombre}" filterBy="#{item.proveedor.nombre}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComprasTitle_proveedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.proveedor.nombre}"/>
                        </p:column>
                        <p:column sortBy="#{item.id}" filterBy="#{item.id}"
                          filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComprasTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{comprasController.prepareCreate}" update=":ComprasCreateForm" oncomplete="PF('ComprasCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ComprasViewForm" oncomplete="PF('ComprasViewDialog').show()" disabled="#{empty comprasController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ComprasEditForm" oncomplete="PF('ComprasEditDialog').show()" disabled="#{empty comprasController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{comprasController.destroy}" update=":growl,datalist" disabled="#{empty comprasController.selected}"/>
                            <p:commandButton value="Exportar como Excel" ajax="false">
                                  <p:dataExporter type="xlsx" target="datalist" fileName="compras"/>
                           </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
