<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ComprasViewDlg" widgetVar="ComprasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewComprasTitle}">
            <h:form id="ComprasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{comprasController.selected != null}">
                        <h:outputText value="#{bundle.ViewComprasLabel_productos}"/>
                        <h:outputText value="#{comprasController.selected.productos}" title="#{bundle.ViewComprasTitle_productos}"/>
                        <h:outputText value="#{bundle.ViewComprasLabel_fecha}"/>
                        <h:outputText value="#{comprasController.selected.fecha}" title="#{bundle.ViewComprasTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewComprasLabel_proveedor}"/>
                        <h:outputText value="#{comprasController.selected.proveedor}" title="#{bundle.ViewComprasTitle_proveedor}"/>
                        <h:outputText value="#{bundle.ViewComprasLabel_id}"/>
                        <h:outputText value="#{comprasController.selected.id}" title="#{bundle.ViewComprasTitle_id}"/>
                            <p:outputLabel value="Producto" />
                            <p:outputLabel value="Cantidad" />
                    
                    </p:panelGrid>
                    

                    <ui:repeat value="#{productosController.items}" var="producto">
                         <h:panelGrid columns="2" style="width:100%" rendered="#{ventasController.selected != null}">
                            <h:outputText value="#{producto.nombre}" />
                            <p:inputNumber maxValue="#{producto.existencia}" value="#{producto.existencia}"/>
                         </h:panelGrid>
                    </ui:repeat>
                    <p:commandButton value="#{bundle.Close}" onclick="ComprasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
