<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresCreateDlg" widgetVar="ProveedoresCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProveedoresTitle}">
            <h:form id="ProveedoresCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{proveedoresController.selected.nombre}" title="#{bundle.CreateProveedoresTitle_nombre}" required="true" requiredMessage="#{bundle.CreateProveedoresRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_apellido}" for="apellido" />
                        <p:inputText id="apellido" value="#{proveedoresController.selected.apellido}" title="#{bundle.CreateProveedoresTitle_apellido}" required="true" requiredMessage="#{bundle.CreateProveedoresRequiredMessage_apellido}"/>
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_ci}" for="ci" />
                        <p:inputText id="ci" value="#{proveedoresController.selected.ci}" title="#{bundle.CreateProveedoresTitle_ci}" required="true" requiredMessage="#{bundle.CreateProveedoresRequiredMessage_ci}"/>
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{proveedoresController.selected.telefono}" title="#{bundle.CreateProveedoresTitle_telefono}" />
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_id}" for="id" />
                        <p:inputText id="id" value="#{proveedoresController.selected.id}" title="#{bundle.CreateProveedoresTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedoresController.create}" value="#{bundle.Save}" update="display,:ProveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProveedoresCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProveedoresCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
