<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresEditDlg" widgetVar="ProveedoresEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProveedoresTitle}">
            <h:form id="ProveedoresEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{proveedoresController.selected.nombre}" title="#{bundle.EditProveedoresTitle_nombre}" required="true" requiredMessage="#{bundle.EditProveedoresRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_apellido}" for="apellido" />
                        <p:inputText id="apellido" value="#{proveedoresController.selected.apellido}" title="#{bundle.EditProveedoresTitle_apellido}" required="true" requiredMessage="#{bundle.EditProveedoresRequiredMessage_apellido}"/>
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_ci}" for="ci" />
                        <p:inputText id="ci" value="#{proveedoresController.selected.ci}" title="#{bundle.EditProveedoresTitle_ci}" required="true" requiredMessage="#{bundle.EditProveedoresRequiredMessage_ci}"/>
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{proveedoresController.selected.telefono}" title="#{bundle.EditProveedoresTitle_telefono}" />
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_id}" for="id" />
                        <p:inputText id="id" value="#{proveedoresController.selected.id}" title="#{bundle.EditProveedoresTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedoresController.update}" value="#{bundle.Save}" update="display,:ProveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProveedoresEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProveedoresEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
