<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresViewDlg" widgetVar="ProveedoresViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProveedoresTitle}">
            <h:form id="ProveedoresViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <h:outputText value="#{bundle.ViewProveedoresLabel_nombre}"/>
                        <h:outputText value="#{proveedoresController.selected.nombre}" title="#{bundle.ViewProveedoresTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewProveedoresLabel_apellido}"/>
                        <h:outputText value="#{proveedoresController.selected.apellido}" title="#{bundle.ViewProveedoresTitle_apellido}"/>
                        <h:outputText value="#{bundle.ViewProveedoresLabel_ci}"/>
                        <h:outputText value="#{proveedoresController.selected.ci}" title="#{bundle.ViewProveedoresTitle_ci}"/>
                        <h:outputText value="#{bundle.ViewProveedoresLabel_telefono}"/>
                        <h:outputText value="#{proveedoresController.selected.telefono}" title="#{bundle.ViewProveedoresTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewProveedoresLabel_id}"/>
                        <h:outputText value="#{proveedoresController.selected.id}" title="#{bundle.ViewProveedoresTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProveedoresViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
