<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentasEditDlg" widgetVar="VentasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVentasTitle}">
            <h:form id="VentasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ventasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVentasLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{ventasController.selected.fecha}" title="#{bundle.EditVentasTitle_fecha}" required="true" requiredMessage="#{bundle.EditVentasRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditVentasLabel_cliente}" for="cliente" />
                        <p:selectOneMenu id="cliente" value="#{ventasController.selected.cliente}" required="true" requiredMessage="#{bundle.EditVentasRequiredMessage_cliente}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientesController.itemsAvailableSelectOne}"
                                           var="clienteItem"
                                           itemValue="#{clienteItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditVentasLabel_id}" for="id" />
                        <p:inputText id="id" value="#{ventasController.selected.id}" title="#{bundle.EditVentasTitle_id}" />
                        
                            <p:outputLabel value="Producto" />
                            <p:outputLabel value="Cantidad" />
                    </p:panelGrid>
                    
                    <ui:repeat value="#{productosController.items}" var="producto">
                         <h:panelGrid columns="2" style="width:100%" rendered="#{ventasController.selected != null}">
                            <h:outputText value="#{producto.nombre}" />
                            <p:inputNumber maxValue="#{producto.existencia}" value="#{producto.existencia}"/>
                         </h:panelGrid>
                    </ui:repeat>
                    
                    <p:commandButton actionListener="#{ventasController.update}" value="#{bundle.Save}" update="display,:VentasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VentasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VentasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
