<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListVentasTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
                <h:form id="VentasListForm">
                    <p:panel header="#{bundle.ListVentasTitle}">
                        <p:dataTable id="datalist" value="#{ventasController.items}" var="item"
                            selectionMode="single" selection="#{ventasController.selected}"
                            paginator="true"
                            rowKey="#{item.id}"
                            rows="10"
                            rowsPerPageTemplate="10,20,30,40,50"
                            >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column sortBy="#{item.fecha}" filterBy="#{item.fecha}"
                          filterMatchMode="contains" >
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListVentasTitle_fecha}"/>
                                </f:facet>
                                <h:outputText value="#{item.fecha}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column sortBy="#{item.cliente.nombre}" filterBy="#{item.cliente.nombre}"
                          filterMatchMode="contains">
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListVentasTitle_cliente}"/>
                                </f:facet>
                                <h:outputText value="#{item.cliente.nombre}"/>
                            </p:column>
                            <p:column sortBy="#{item.id}" filterBy="#{item.id}"
                          filterMatchMode="contains" >
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListVentasTitle_id}"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{ventasController.prepareCreate}" update=":VentasCreateForm" oncomplete="PF('VentasCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":VentasViewForm" oncomplete="PF('VentasViewDialog').show()" disabled="#{empty ventasController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":VentasEditForm" oncomplete="PF('VentasEditDialog').show()" disabled="#{empty ventasController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{ventasController.destroy}" update=":growl,datalist" disabled="#{empty ventasController.selected}"/>
                                <p:commandButton value="Exportar como Excel" ajax="false">
                                  <p:dataExporter type="xlsx" target="datalist" fileName="ventas"/>
                           </p:commandButton>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
