<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentasViewDlg" widgetVar="VentasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVentasTitle}">
            <h:form id="VentasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ventasController.selected != null}">
                        <h:outputText value="#{bundle.ViewVentasLabel_fecha}"/>
                        <h:outputText value="#{ventasController.selected.fecha}" title="#{bundle.ViewVentasTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewVentasLabel_cliente}"/>
                        <h:outputText value="#{ventasController.selected.cliente.nombre}" title="#{bundle.ViewVentasTitle_cliente}"/>
                        <h:outputText value="#{bundle.ViewVentasLabel_id}"/>
                        <h:outputText value="#{ventasController.selected.id}" title="#{bundle.ViewVentasTitle_id}"/>
                        
                        <p:outputLabel value="Producto" />
                        <p:outputLabel value="Cantidad" />
                    </p:panelGrid>
                    
                    <ui:repeat value="#{productosController.items}" var="producto">
                         <h:panelGrid columns="2" style="width:100%" rendered="#{ventasController.selected != null}">
                            <h:outputText value="#{producto.nombre}" />
                            <p:inputNumber maxValue="#{producto.existencia}" value="#{producto.existencia}"/>
                         </h:panelGrid>
                    </ui:repeat>
                    
                    <p:commandButton value="#{bundle.Close}" onclick="VentasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
