<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <br />
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
    </h:body>



























































</html>

